ul {
    align-content: center;
    align-items: center;
    counter-reset: stepCount;
    display: flex;
    justify-content: space-around;
    /* margin: 10vh auto 20vh; */
  }
  
  li {
    background: #2ea2d8;
    color: white;
    content: ' ';
    display: flex;
    flex-grow: 1;
    height: .3em;
    line-height: 1em;
    margin: 0;
    position: relative;
    text-align: right;
    z-index: 2;
  }
  
  li::before {
    background: #2ea2d8;
    border-radius: 50%;
    color: white;
    content: counter(stepCount);
    counter-increment: stepCount;
    height: 2em;
    left: -2em;
    line-height: 2em;
    position: absolute;
    text-align: center;
    top: -.85em;
    width: 2em;
  }
 
  li:first-child::before {
    background: #0b6ba3;
  }
  li:last-child::before {
    background: #0b6ba3;
  }
  li:last-child {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
  /* Shorthand: flex: 0 1 0; */
  }

  .card {
    transition: all 300ms ease-in-out;
  }
  .card:hover {
    box-shadow: 0px 20px 10px -20px rgba(0,0,0,0.2);
    transform: scale(1.012);
  }